# --- proj files ---
.DS_Store
Thumbs.db
/.idea/
/*.sublime-project
/*.sublime-workspace

node_modules/*

npm-debug.log
yarn-error.log

test/cypress/screenshots
test/cypress/videos

dist/

coverage/
.nyc_output/
src/tools/code
src/tools/delimiter
src/tools/embed
src/tools/header
src/tools/inline-code
src/tools/marker
src/tools/nested-list
src/tools/paragraph
